.back-sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 64px;
  height: 100vh;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
    background-color: #e4edfd;
  }

  .button {
    border-radius: 8px;
    border: none;
    max-width: 280px;
    padding: 12px 70px;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    font-family: inherit;
    background-color: #3369F3;
    color: #FFF;
    cursor: pointer;
  }

  .arrow-button {
    border-radius: 50%;
    border: none;
    width: 28px;
    height: 28px;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    font-family: inherit;
    background-color: #3369F3;
    color: #FFF;
    cursor: pointer;
    flex-shrink: 0;
  }
}
