.error_page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.error_number {
  color: #1E1E1E;
  font-size: 40px;
  font-weight: 400;
}

.error_text {
  margin: 20px 0 70px;
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 500;
}

.error_back_btn {
  color: #3369F3;
  font-size: 14px;
  border: none;
  background: none;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
