.profile__page {
  display: flex;
  flex-flow: row wrap;

  .sidebar {
      background-color: #FBFBFB;
      padding: 0 18px;
      display: flex;
      align-items: center;
      height: 100vh;
      border-right: 1px solid #EAEAEA;
  }
}

.password_change_container {
  margin-top: 100px;
}

.profile_save_btn {
  background-color: #3369F3;
  color: #FFF;
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  padding: 12px 0;
  font-weight: 400;
  text-decoration: none;
  font-size: 12px;
  border: none;
  margin: 0 auto;
  text-align: center;
}


.sidebar_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: #3369F3;
  color: white;
  text-decoration: none;
  font-weight: 100;
  border-radius: 50%;
}

.profile__page_container {
  max-width: 510px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  .avatar {
      width: 130px;
      height: 130px;
      object-fit: cover;
      border-radius: 50%;
      background-color: #EFEFEF;
      margin-bottom: 20px;

      &:hover {
          opacity: 0.8;
          cursor: pointer;
      }
  }


  .name {
      color: #1E1E1E;
      font-size: 16px;
      font-weight: 500;
  }

  .form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .input_container {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 10px;
          margin: 60px 0;

          label {
              display: flex;
              justify-content: space-between;
              border: none;
              padding-bottom: 10px;
              font-size: 13px;
              color: #1E1E1E;
              font-weight: 500;
              border-bottom: #EAEAEA 1px solid;

              input {
                  border: none;
                  width: 80%;
                  outline: none;
                  text-align: end;
                  color: #999;
                  font-size: 13px;
                  font-weight: 500;

                  ::placeholder {
                      color: #EAEAEA;
                  }
              }
          }
      }

      .btn_container {
          display: flex;
          flex-direction: column;
          gap: 10px;

          a {
              color: #3369F3;
              text-decoration: none;
              padding-bottom: 10px;
              font-size: 13px;
              font-weight: 500;
              border-bottom: #EAEAEA 1px solid;

              &:hover {
                  color: #1E1E1E;
              }
          }



          .exit {
              color: #F00;
              font-size: 13px;
              font-weight: 500;
          }
      }

  }
}
