.login_page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__form {
  max-width: 340px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px rgb(241 241 241 / 100%);
  padding: 50px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  .btn_container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
      align-items: center;
  }

  .main__form_auth_btn {
      background-color: #3369F3;
      color: #FFF;
      width: 100%;
      border-radius: 8px;
      padding: 12px 0;
      font-weight: 600;
      text-decoration: none;
      font-size: 13px;
      border: none;
      text-align: center;
  }

  .main__form_reg_btn {
      color: #3369F3;
      border: none;
      background: none;
      text-decoration: none;
      font-size: 11px;
  }
}

.main__form_title {
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 500;
}

.main__form__error_message {
  font-size: 11px;
  color: #f33333;
  transition: all .2s;
}

.main__form_inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-bottom: 10vh;



  label {
      padding-bottom: 7px;
      border-bottom: 1px solid #3369F3;
      display: flex;
      flex-direction: column;
      color: #999;
      font-size: 9px;
      font-weight: 500;
  }

  input {
      color: #1E1E1E;
      font-size: 13px;
      font-weight: 500;
      outline: none;
      border: none;
  }
}
