.messanger__container {
    display: flex;
    height: 100vh;
}

.messanger__list_container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: #FBFBFB;
    border-right: 1px solid #EAEAEA;
    padding:  20px 10px 0 10px;
    width: 100%;
    max-width: 300px;

    label {
        background-color: #EFEFEF;
        border-radius: 5px;
        width: 100%;
        padding: 10px 0;
        margin: 25px 0 15px 0;
        text-align: center;

        input {
            text-align: center;
            border: none;
            background-color: #EFEFEF;

            &::placeholder {
            color: #999999;
            font-weight: 500;
            }
        }
    }
}

.serch_icon {
    width: 20px;
    height: 20px;
}

.profile_link {
    color: #999999;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: end;

}

.messanger__list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messanger__list_item {
    width: 100%;
    border-top: #EAEAEA 1px solid;
    padding: 12px 0;
    gap: 10px;
    display: flex;
}

.messanger__list_item_avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 47px;
    height: 47px;
}

.messanger__list_item_name {
    margin: 0;
    font-size: 13px;
    color: #1E1E1E;
    font-weight: 700;
}

.messanger__list_item_name_container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    gap: 5px;
}

.messanger__list_item_info {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.messanger__list_item_time {
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    margin: 0;
}

.messanger__list_item_counter {
    color: white;
    font-size: 11px;
    background-color: #3369F3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
}

.messanger__list_item_message {
    font-size: 12px;
    color: #999999;
    font-weight: 500;
    margin: 0;
}

.messanger_chat {
    width: 100%;
}

.messanher_chat_title {
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.send_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: #3369F3;
  color: white;
  text-decoration: none;
  font-weight: 100;
  border-radius: 50%;
  border: none;
}

.messanger_chat_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    height: 100%;
    box-sizing: border-box;
}

.messanger_chat_header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: #EAEAEA 1px solid;
    margin-bottom: 50px;
}

.messanger_chat_item_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.messanger_chat_item_date {
    color: #999999;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
}

.companion_message {
    max-width: 400px;
    width: 100%;
    background-color: #F8F8F8;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    color: #1E1E1E;
}

.companion_message_date {
    color: #999999;
    text-align: right;
    font-size: 9px;
    position: absolute;
    right: 0;
    margin-right: 11px;
    font-weight: 500;
    bottom: 10px;
}

.messanger_chat_item_image_container {
    border: #EAEAEA 1px solid;
    border-radius: 12px;
    width: fit-content;
}

.messanger_chat_item_image_date {
    background-color: #525252;
    color: white;
    border-radius: 50px;
    font-size: 9px;
    font-weight: 500;
    padding: 2px 7px;
}

.user_message {
    border-radius: 12px;
    background-color: #E4EDFD;
    padding: 11px;
    font-size: 12px;
    font-weight: 500;
    color: #1E1E1E;
    width: fit-content;
    margin-left: auto;
}

.messanger_chat_footer {
    display: flex;
    width: 100%;
    gap: 10px;
    padding-top: 10px;
    border-top: #EAEAEA 1px solid;
    margin-top: 30px;
    align-items: center;

    form {
        width: 100%;
        display: flex;
    }
}

.messanger_chat_footer_message {
    background-color: #EFEFEF;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    display: inline-block;
    width: 100%;

    input {
        border: none;
        width: 100%;
        outline: none;
        background: none;
        font-size: 12px;
        color: #1E1E1E;
        font-weight: 500;

        &::placeholder {
            color: #999999;
            font-size: 12px;
            font-weight: 500;
        }
    }
}
