.sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 310px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 10px;
  border-right: 1px solid #eaeaea;
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.sidebar__title {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .link {
    display: block;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: #999;

    & svg {
      vertical-align: middle;
    }
  }
}

.messanger__placeholder {
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: #999;
}

.messenger_page {
  width: 100%;
}

.sidebar__messanger {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  margin-top: 14px;
  border-top: 1px solid #eaeaea;
  padding: 0;
  width: 100%;
}

.sidebar__chat {
  margin: 0;
  padding: 0;
}


.sidebar__chats {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.messanger {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 -10px;
  padding: 12px 10px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;

  .messanger__content {
    display: flex;
    align-items: flex-start;
  }

  .messanger__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    gap: 4px;

    p {
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }

  .messanger__list_item_name {
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
    color: #1E1E1E;
  }

  .messanger__list_item_message-wrap {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .messanger__list_item_message {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #999;
  }

  .messanger__list_item_message_yours {
    color: #1E1E1E;
  }

  .chat__meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .messanger__list_item_time {
    font-size: 9px;
    line-height: 13px;
    font-weight: 600;
    color: #999;
  }

  .chat__count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3369F3;
    font-size: 11px;
    line-height: 12px;
    font-weight: 500;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.messanger:hover {
  background-color: #E4EDFD;
  transition: all .2s;
}

.messanger__list_item_avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #EFEFEF;
}

.selected-chat {
  height: 100vh;
  width: calc(100% - 310px);
  margin-left: 310px;

  .selected-chat__header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    margin: 0 20px;
    position: fixed;
    width: inherit;
    padding-right: 120px;
    background-color: #FFF;
    border-bottom: 1px solid #eaeaea;
    justify-content: space-between;
  }

  .selected-chat__user {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .selected-chat__title {
    margin: 0;
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
  }

  .selected-chat__settings {
    background: none;
    border: none;
  }

  .selected-chat__settings_button {
    background: none;
    border: none;
    display: flex;
    font-size: 20px;
    margin-right: 30px;
    flex-direction: column;
    transform: rotate(90deg);

    &:hover {
      background: none;
      cursor: pointer;
    }
  }

  .messanger__list_item_avatar_selected {
    width: 34px;
    height: 34px;
    margin: 0;
  }

  .selected-chat__messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 0;
    overflow-y: auto;

    .message {
      background-color: #F8F8F8;
      border-radius: 0 12px 12px;
      display: flex;
      align-items: flex-end;
      padding: 11px;
      max-width: 400px;
      justify-content: space-between;
      gap: 10px;
      width: fit-content;
    }

    .message_yours {
      align-self: flex-end;
      background-color: #e4edfd;
      border-radius: 12px 0 12px 12px;
    }

    .message__content {
      margin: 0;
      font-size: 12px;
      font-weight: 300;
      text-align: left;
      white-space: pre-wrap;
    }

    .companion_message_date {
      display: flex;
      align-items: flex-end;
      gap: 4px;
    }

    .message__status {
      font-size: 0;

      svg {
        vertical-align: text-bottom;
      }
    }

    .message__time {
      margin: 0;
      font-size: 9px;
      line-height: 1;
      font-weight: 300;
      color: #999;
    }
  }

  .selected-chat__input {
    width: inherit;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    padding: 14px 10px;
    border-top: 1px solid #eaeaea;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    font-family: inherit;
    background-color: #FFF;
    color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.selected-chat_disabled {
  display: none;
}

.chat-start-date {
  text-align: center;
  font-size: 12px;
  color: #888;
  font-weight: 300;
  margin: 10px 0;
}

.messanger_chat {
  width: 100%;
}
