<main class="error_page error_page_500">
    <div class="error_page_contanier">
         {{> errorNumber }}
         {{> errortText}}
         {{> errorBackButton data-current_page="profile__page" }}
    </div>
</main>
