.main__form_auth_btn {
  background-color: #3369F3;
  color: white;
  width: 100%;
  border-radius: 8px;
  padding: 12px 0;
  font-weight: 100;
  margin-top: 50px;
  text-decoration: none;
  min-width: 250px;
  font-size: 13px;
  border: none;
  text-align: center;
}

.main__form_auth_btn:hover {
background-color: #2e5cd1;
transition: all .2s;
cursor: pointer;
}
