    <main class="login_page">
         <form class="main__form">
         <h1 class="main__form_title">Вход</h1>
        <div class="main__form_inputs">
            <label>
                Логин
                <input name="{{login}}" placeholder="{{placeholder}}"  >
            </label>            
            <label>
                Пароль
                <input name="{{password}}" placeholder="{{placeholder}}"  >
            </label> 
        </div>

        <div class="btn_container">
            {{> authButton data-current_page="messanger_page"  }}
            {{> regButton data-current_page="register_page"  }}
        </div>
         </form>
    </main>