.selected-chat {
  height: 100vh;
  width: calc(100% - 310px);
  margin-left: 310px;

  .selected-chat__header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    margin: 0 20px;
    border-bottom: 1px solid #eaeaea;
    justify-content: space-between;
  }

  .selected-chat__user {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .selected-chat__title {
    margin: 0;
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
  }

  .selected-chat__settings {
    background: none;
    border: none;
  }

  .selected-chat__settings_button {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    transform: rotate(90deg);

    &:hover {
      background: none;
      cursor: pointer;
    }
  }

  .messanger__list_item_avatar_selected {
    width: 34px;
    height: 34px;
    margin: 0;
  }

  .selected-chat__messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    overflow-y: auto;

    .message {
      background-color: #F8F8F8;
      border-radius: 0 12px 12px;
      display: flex;
      align-items: flex-end;
      padding: 11px;
      max-width: 400px;
      justify-content: space-between;
      gap: 10px;
      width: fit-content;
    }

    .message_yours {
      align-self: flex-end;
      background-color: #e4edfd;
      border-radius: 12px 0 12px 12px;
    }

    .message__content {
      margin: 0;
      font-size: 12px;
      font-weight: 300;
      text-align: left;
      white-space: pre-wrap;
    }

    .companion_message_date {
      display: flex;
      align-items: flex-end;
      gap: 4px;
    }

    .message__status {
      font-size: 0;

      svg {
        vertical-align: text-bottom;
      }
    }

    .message__time {
      margin: 0;
      font-size: 9px;
      line-height: 1;
      font-weight: 300;
      color: #999;
    }
  }

  .selected-chat__input {
    width: inherit;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    padding: 14px 0;
    border-top: 1px solid #eaeaea;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    font-family: inherit;
    background-color: #FFF;
    color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.chat-start-date {
  text-align: center;
  font-size: 12px;
  color: #888;
  font-weight: 300;
  margin: 10px 0;
}

.messanger_chat {
  width: 100%;
}
