.main__form_reg_btn {
  color: #3369F3;
  border: none;
  background: none;
  text-decoration: none;
  font-size: 13px;
}

.main__form_reg_btn:hover {
  color: #2e5cd1;
  transition: all .2s;
}

.main__form_title {
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 500;
}
