<main class="navigation_page">
    <nav>
        <ul>
            <li><a href="#" class="navigation_link" data-current_page="login_page">Авторизация</a></li>
            <li><a href="#" class="navigation_link" data-current_page="register_page">Регистрация</a></li>
            <li><a href="#" class="navigation_link" data-current_page="profile__page">Профиль</a></li>
            <li><a href="#" class="navigation_link" data-current_page="messanger_page">Чат</a></li>
            <li><a href="#" class="navigation_link" data-current_page="error_page_500">500</a></li>
            <li><a href="#" class="navigation_link" data-current_page="error_page">404</a></li>
        </ul>
    </nav>
</main>
